{
  "audio": { "path": "E:/Jakes-Stones/V_20250706_191935_ES0.mp4" },
  "images": { "path": "E:/Bruach/Marketing Potos" },
  "videos": { "path": "E:/Jakes-Stones/" },
  "output": { 
    "file": "C:/Users/thisg/Desktop/pytest/test.mp4", 
	"width": 1080, 
	"height": 1920, 
	"fps": 30, 
	"codec": "libx264", 
	"threads": 16 },
  "clips": {
    "min_still": 2.0,
    "desired_still": 3.0,
    "max_still": 6.0,
    "start_still": "E:/Bruach/Posters/Bruach Logo clean cream backing no-trans.jpg",
    "start_duration": 3.0,
    "end_still": "E:/Bruach/Posters/Bruach Logo clean cream backing no-trans.jpg",
    "end_duration": 3.0,
    "max_videos": 1
  },
  "motion": {
    "enabled": true,
    "probability": 0.7,
    "zoom_range": [1.0, 1.2],
    "pan_min": 0.04,
    "pan_max": 0.08,
    "rotation_range": 1.1,
    "ease_fraction": 0.12,
	"max_factor": 2
  }
}
